<div class="device-main">
    <div class="event-heading">Device Currently Unavailable</div>
    <div class="table-conatiner">
        <table class="table">
            <thead>
                <tr>
                    <td>Device</td>
                    <td>Ping State</td>
                    <td>IP Address</td>
                    <td>Time in State</td>
                    <td>Location</td>
                    <td>Contact</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>wfwewf</td>
                    <td>qfqw</td>
                    <td>qwrf</td>
                    <td>qwrw</td>
                    <td>qerq</td>
                    <td>qwrw</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>