<div class="device-main">
    <div class="event-heading">Device Currently Unavailable</div>
    <div class="table-conatiner">
        <table class="table">
            <thead>
                <tr>
                    <td>Device</td>
                    <td>Ping State</td>
                    <td>IP Address</td>
                    <td>Time in State</td>
                    <td>Location</td>
                    <td>Contact</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let device of deviceList'>
                    <td class="deviceTd">{{device.Device}}</td>
                    <td>{{device.PingState}}</td>
                    <td>{{device.IP}}</td>
                    <td>{{device.Time}}</td>
                    <td>{{device.Location}}</td>
                    <td>{{device.Contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>