<div class="full-size flex-column">
  <div class="header flex-row">
    <div class="header-left flex-row">
        <img class="search-icon" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png" />
        <label class="label-gray">Dashboards / </label> Network Summary
    </div>
    <div class="header-right flex-1-1">
        <button type="button"><img class="icon-10" src="https://cdn3.iconfinder.com/data/icons/sympletts-free-sampler/128/star-512.png"/></button>
        <button type="button"><img class="icon-10" src="https://cdn-icons-png.flaticon.com/512/591/591863.png" /></button>
        <button type="button"><img class="icon-10" src="https://cdn-icons-png.flaticon.com/512/2099/2099058.png" /></button>
        <button type="button"><img class="icon-10" src="https://cdn4.iconfinder.com/data/icons/aami-web-internet/64/aami17-10-512.png" /></button>
        <button type="button" class="width-100"><img class="icon-10" src="https://cdn-icons-png.flaticon.com/512/2088/2088617.png" /> Today</button>
        <button type="button"><img class="icon-10" src=" https://cdn-icons-png.flaticon.com/512/54/54481.png" /></button>
        <button type="button"><img class="icon-10" src="https://cdn-icons-png.flaticon.com/512/126/126502.png" /></button>
    </div>
  </div>
  <div class="header flex-row">
    <div>
        Group
        <select>
            <option>All</option>
        </select>
    </div>
    <div>
        Top N
    </div>
  </div>
  <div class="flex-1-1">
    <div class="left-conatiner">
      <div class="dashboard">
        <div class="flex-column">
          <div class="p-4 p-t-none">
            <app-status-card [title]="'Devices Currently Unreachable'" [value]="0"></app-status-card>
          </div>
          <div class="p-4">
            <app-status-card [title]="'Devices Currently Reachable'" [value]="0"></app-status-card>
          </div>
          <div class="p-4">
            <app-status-card [title]="'Interface Operation Down'" [value]="0"></app-status-card>
          </div>
          <div class="p-4">
            <app-status-card [title]="'Interface Operation Down'" [value]="0"></app-status-card>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="event-heading"></div>
                <app-events [eventsList]="eventsList"></app-events>
      </div>
    </div>
    <div class="right-conatiner">
      <div class="unavailable">
        <app-device-unavailable [devicesList]="devicesList"></app-device-unavailable>
      </div>
      <div  class="latency"> <app-latency [latencyList]="latencyList"></app-latency></div>
     
  </div>
</div>
