.header {
    width: 100%;
    height: 50px;
    padding: 0 5px;
}
.header-left {
    text-align: end;
    align-self: center;
}
.header-right {
    text-align: end;
    align-self: center;
}

.left-conatiner {
    display: flex;
    height: 300px;
    justify-content: space-between;

}
.left-conatiner .dashboard {
    width:30%;
}
.left-conatiner .event {
    width: 70%;
}
.right-conatiner {
    display: flex;
    height: 300px;
    justify-content: space-between;
    
}
.right-conatiner .unavailable {
    width: 50%;;
}

.right-conatiner .latency{
    width: 50%;
    background-color: white;
}
.event {
    background-color: white;
}