<div class="main">
    <div class="header">
      <div class="header-icons"></div>
    </div>
    <div class="body">
        <div class="left-conatiner">
            <div class="dashboard">
                <div class=""></div>
            </div>
            <div class="event">
                <div class="event-heading"></div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <td>Time</td>
                                <td>Device</td>
                                <td>Entity</td>
                                <td>Event</td>
                                <td>state</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="right-conatiner">
            <div class="unavailable"></div>
            <div class="latency"></div>
        </div>
    </div>
</div>