<div class="main">
    <div class="header">
      <div class="header-icons"></div>
    </div>
    <div class="body">
        <div class="left-conatiner">
            <div class="dashboard">
                <div class=""></div>
            </div>
            <div class="event">
                <div class="event-heading"></div>
                <app-events></app-events>
            </div>
        </div>
        <div class="right-conatiner">
            <div class="unavailable">
                <app-device-unavailable></app-device-unavailable>
            </div>
            <div class="latency"></div>
        </div>
    </div>
</div>