.header {
    width: 100%;
    height: 50px;
    padding: 0 5px;
}
.header-left {
    text-align: end;
    align-self: center;
}
.header-right {
    text-align: end;
    align-self: center;
}
.search-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.icon-10 {
    width: 10px;
    height: 10px;
}
.header-right button {
    border-radius: unset;
    border: none;
    background-color: #98afbc;
    margin-left: 2px;
    width: 25px;
    height: 25px;
}
.width-100 {
    width: 100px !important;
}
.label-gray {
    color: #555353;
}
.left-conatiner {
    display: flex;
    height: 50%;
    justify-content: space-between;
    border: 1px solid;

}
.left-conatiner .dashboard {
    border: 1px solid;
    width:30%;
}
.left-conatiner .event {
    border: 1px solid;
    width: 70%;
}
.right-conatiner {
    display: flex;
    height: 50%;
    justify-content: space-between;
    border: 1px solid;
    
}
.right-conatiner .unavailable {
    border: 1px solid;
    width: 50%;;
}

.right-conatiner .latency{
    border: 1px solid;
    width: 50%;
}