  
    <div class="main-container">
        <p >Top 10 Device Latency</p>
        <table class="table-wrapper" *ngIf="latencyList?.length">
            <thead>
                <tr>
                    <th>Device</th>
                    <th>Ping RTT(average)</th>
                    <th>Ping RTT(Minimum)</th>
                    <th>Ping RTT(Maximum)</th>
                </tr>
            </thead>
           
            <tbody >
                <tr *ngFor="let data of latencyList" >
                    <td>{{data?.devices}}</td>
                    <td>{{data?.PingAvg }} ms </td>
                    <td>{{data?.PingMin}} ms</td>
                    <td>{{data?.PingMax}} ms</td>
                </tr>
            </tbody>
           
        </table>
       
    </div>

