
.main-container{
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    height: calc(100% - 19px);
    background-color: white;
}

.table-wrapper{
    background-color: #fff;   
    border-radius: 6px;   
    transition: box-shadow .6s; 
    margin: 5px;
    border-collapse: collapse;
    width: 100%;   
    border-spacing: 0;
    max-width: 98%;
  
}
.table-wrapper th{
    color: #00cadf;  
    background-color: #ededed;
    padding-left: 20px;
    height: 30px;
   
}
.table-wrapper tbody tr {    
    border: 1px solid #f9f8f8;
    height: 30px;   
}
.table-wrapper tbody td{
    padding-left: 20px;
    border: 1px solid #f9f8f8;
}
.table-wrapper tr{
   text-align: left;
   height: 10px;
     
}
.table-wrapper tbody td:nth-child(even){
    color: rgb(216, 23, 23);
}
.table-wrapper tbody td:nth-child(3){
    color: rgb(45, 215, 45);
}
div ,p{
    font-size: 12px;
}
p{
    font-weight: 600;
    text-align: center;  
    font-size: 12.5px;
}
.table-wrapper tbody td:nth-child(1){
    text-decoration: underline;
}

